@model IEnumerable<Parcial2_SebastianRestrepoMira.DAL.Entities.Ticket>

@{
    ViewData["Title"] = "Validación";
}

<h1>Validador de boleteria - Concierto La Bichota</h1>
<br />
<form method="post">
    Numero Boleto <input type="text" name="Id" id="txtNombre" /><br /><br/>
    <button type="submit">Validar Boleto</button>
</form>
